<div class="w-75 my-3 mx-auto">
    <h3 class="maincolor">Login Now</h3>

    @if(errormsg)
    {
        <h4 class="alert alert-danger">{{errormsg}}</h4>
    }

    <form [formGroup]="loginform" (ngSubmit)="loginSubmit()">
       
        <div class="my-3">
            <label>Email:</label>
            <input formControlName="email" class="form-control">
            @if(loginform.get('email')?.errors && loginform.get('email')?.touched)
            {
                <div class=" alert alert-danger w-50 p-1">

                    @if(loginform.get('email')?.errors?.['required'])
                    {
                        <p>Email is required</p>
                    }
                    @else if(loginform.get('email')?.errors?.['email'])
                    {
                        <p>Please Enter Valid Email</p>
                    }
                </div>
            }
        </div>
        
        <div class="my-3">
            <label>Password:</label>
            <input formControlName="password" class="form-control">
            @if(loginform.get('password')?.errors && loginform.get('password')?.touched)
            {
                <div class=" alert alert-danger w-50 p-1">

                    @if(loginform.get('password')?.errors?.['required'])
                    {
                        <p>password is required</p>
                    }
                    @else if(loginform.get('password')?.errors?.['pattern'])
                    {
                        <p>Please Enter Valid password</p>
                    }
                </div>
            }
        </div>

        <button [disabled]="loginform.invalid" type="submit" class="btn text-white d-block ms-auto mainbgcolor te">Login

            @if(isloading)
            {
                <i class="fa-solid fa-spinner fa-spin"></i>
            }
        </button>
    </form>
</div>
