<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/freshcart-logo.svg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse d-flex justify-content-between navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         @if(islogin)
         {
          <a class="nav-link" routerLink="home">Home</a>
          <a class="nav-link" routerLink="cart">Cart</a>
          <a class="nav-link" routerLink="products">products</a>
          <a class="nav-link" routerLink="categories">Categories</a>
          <a class="nav-link" routerLink="brands">Brands</a>
         }
        </div>
        <div class="d-flex gap-3 align-items-center">
          <i class="fa-brands fa-facebook cursor-pointer"></i>
          <i class="fa-brands fa-twitter cursor-pointer"></i>
          <i class="fa-brands fa-instagram cursor-pointer"></i>
          <i class="fa-brands fa-youtube cursor-pointer"></i>
          <i class="fa-brands fa-linkedin cursor-pointer"></i>

          @if(!islogin)
          {
            <a class="nav-link" routerLink="login">Login</a>
             <a class="nav-link" routerLink="register">Register</a>
          }
            @if(islogin)
            {
              <a (click)="Logout()" class="nav-link cursor-pointer">Logout</a>
            }


        </div>
      </div>
    </div>
  </nav>