<nav class="bg-slate-100 py-4">
  <div class="container text-center mx-auto 2xl:w-11/12 flex flex-col lg:flex-row lg:justify-between">
    <div class="gap-3 flex flex-col items-center lg:flex-row ">
        <img src="assets/images/freshcart-logo.svg">
        <ul class="flex flex-col gap-1 lg:flex-row lg:gap-3">
          @if(islogin)
         {
          <a class="nav-link" routerLink="home">{{'Home' |translate}}</a>
          <a class="nav-link" routerLink="cart">{{'Cart' |translate}}</a>
          <a class="nav-link" routerLink="products">{{'Products' | translate}}</a>
          <a class="nav-link" routerLink="categories">{{'Category'| translate}}</a>
          <a class="nav-link" routerLink="brands">{{'Brands' |translate}}</a>
         }
        </ul>
      </div>
      <div class="gap-3 items-center  flex flex-col lg:flex-row">
        <ul class="gap-3 flex flex-col lg:flex-row lg:order-1">
          @if(!islogin)
          {
           <li><a routerLink="login">{{'Login' |translate}}</a></li> 
             <li><a routerLink="register">{{'Register' |translate}}</a></li>
          }
          <li><a class="cursor-pointer" (click)="Chnagelang('en')" >En</a></li>
          <li><a class="cursor-pointer" (click)="Chnagelang('ar')" >Ar</a></li>
          @if(islogin)
          {
            <li><a routerLink="cart">
              <i class="fa-solid fa-cart-shopping maincolor cursor-pointer"></i>
            </a></li>
           <li><a (click)="Logout()" class="nav-link cursor-pointer">{{'Logout' |translate}}</a></li>

          }
        </ul>


        <div class="d-flex gap-3 align-items-center">
          <i class="fa-brands fa-facebook cursor-pointer"></i>
          <i class="fa-brands fa-twitter cursor-pointer"></i>
          <i class="fa-brands fa-instagram cursor-pointer"></i>
          <i class="fa-brands fa-youtube cursor-pointer"></i>
          <i class="fa-brands fa-linkedin cursor-pointer"></i>
        </div>
      </div>
    </div>
</nav>

 
