<div class="w-75 my-3 mx-auto">
    <h3 class="maincolor">Verify Email:</h3>

    @if(errormsg)
    {
        <h4 class="alert alert-danger">{{errormsg}}</h4>
    }

    @if(!iscodeform&&!isnewpassword)
    {
        <form [formGroup]="EmailForm" (ngSubmit)="emailSubmit()">
       
            <div class="my-3">
                <label>Email:</label>
                <input formControlName="email" class="form-control">
                @if(EmailForm.get('email')?.errors && EmailForm.get('email')?.touched)
                {
                    <div class=" alert alert-danger w-50 p-1">
    
                        @if(EmailForm.get('email')?.errors?.['required'])
                        {
                            <p>Email is required</p>
                        }
                        @else if(EmailForm.get('email')?.errors?.['email'])
                        {
                            <p>Please Enter Valid Email</p>
                        }
                    </div>
                }
            </div>
    
            <button [disabled]="EmailForm.invalid" type="submit" class="btn text-white d-block ms-auto mainbgcolor te">Send To Verify
    
                @if(isloading)
                {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                }
            </button>
        </form>
    }

    @if(iscodeform)
    {
        <form [formGroup]="CodeForm" (ngSubmit)="sendcode()">
       
            <div class="my-3">
                <label>code:</label>
                <input formControlName="resetCode" class="form-control">
                @if(CodeForm.get('resetCode')?.errors && CodeForm.get('resetCode')?.touched)
                {
                    <div class=" alert alert-danger w-50 p-1">
    
                        @if(CodeForm.get('resetCode')?.errors?.['required'])
                        {
                            <p>resetCode is required</p>
                        }
    
                    </div>
                }
            </div>
    
            <button [disabled]="EmailForm.invalid" type="submit" class="btn text-white d-block ms-auto mainbgcolor te">Send Code
    
                @if(isloading)
                {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                }
            </button>
        </form>
    }
    @if(isnewpassword)
    {
        <form [formGroup]="ResetForm" (ngSubmit)="setnewpassword()">
       
            <div class="my-3">
                <label>Email:</label>
                <input formControlName="email" class="form-control">
                @if(ResetForm.get('email')?.errors && ResetForm.get('email')?.touched)
                {
                    <div class=" alert alert-danger w-50 p-1">
    
                        @if(ResetForm.get('email')?.errors?.['required'])
                        {
                            <p>Email is required</p>
                        }
                        @else if(ResetForm.get('email')?.errors?.['email'])
                        {
                            <p>Please Enter Valid Email</p>
                        }
                    </div>
                }
            </div>
    
            <div class="my-3">
                <label>New Password:</label>
                <input formControlName="newPassword" class="form-control">
                @if(ResetForm.get('newPassword')?.errors && ResetForm.get('newPassword')?.touched)
                {
                    <div class=" alert alert-danger w-50 p-1">
    
                        @if(ResetForm.get('newPassword')?.errors?.['required'])
                        {
                            <p>password is required</p>
                        }
                        @else if(ResetForm.get('newPassword')?.errors?.['pattern'])
                        {
                            <p>Please Enter Valid password</p>
                        }
                    </div>
                }
            </div>
    
            <button [disabled]="EmailForm.invalid" type="submit" class="btn text-white d-block ms-auto mainbgcolor te">Set New password
    
                @if(isloading)
                {
                    <i class="fa-solid fa-spinner fa-spin"></i>
                }
            </button>
        </form>
    }

  



</div>
