@tailwind base;
@tailwind components;
@tailwind utilities;

.maincolor
{
    color: #0aad0a;
}
.rating-color
{
    color: #ffc908;
}

.cursor-pointer
{
    cursor: pointer;
}
.mainbgcolor
{
    background-color:#0aad0a ;
}

.product button 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover button 
{
    opacity: 1;
    transform: translateY(0%);

}

.te:hover
{
    background-color:#0aad0a ;
}

.btn:disabled {
    color: white; 
    background-color: #0aad0a;
    cursor: not-allowed;
}